*{
  margin:0; /* it will get rid of all the unwanted margins which is sapce between each line */
} 

.App{
  background-color: #111;
}
.created{
  color:rgb(0, 188, 175);
  padding:5px;
  text-align: center;
  transition: 0.5s;
}
.created:hover{
  color: bisque;
}
